# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.cmake/
**/bin/
*.dir/
build/
build-vita/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CLion
.idea/
cmake-build*/

# Paradox files
*.log
*.spv
